.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 10vh;
  padding-top: 2.5vh;

  font-size: 5vh;
  text-align: center;

  transition: 0.5s;

  user-select: none;

  &.white {
    color: black;

    background-color: #f2f2f2;
  }

  &.black {
    color: white;

    background-color: #0d0d0d;
  }
}
